{% extends 'base.html.twig' %}

{% block title %}Accueil - Notes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Bienvenue</h1>
        <p>Vous êtes connecté en tant qu'utilisateur.</p>
    </div>
{% endblock %}

